.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.contacts__form {
  background-color: $color-sapphire;
}

.contacts__info {
  border-top: 1px solid $color-light-slate-grey;
}

.contacts__form-container {
  max-width: 683px;
  margin-left: auto;
  padding-top: 22px;
  padding-right: 170px;
  padding-left: 103px;
  padding-bottom: 72px;
}

.contacts__info-container {
  max-width: 683px;
  margin-right: auto;
  padding-top: 15px;
  padding-right: 103px;
  padding-left: 120px;
  padding-bottom: 50px;
}

.contacts__form-container h2,
.contacts__info-container h2 {
  margin-bottom: 27px;
  font-family: $ff-alumni;
  font-weight: 800;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: $color-default-white;
}

.contacts__info-container h2 {
  margin-bottom: 26px;
  font-weight: 600;
  color: $color-sapphire;
}

.contacts__form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contacts__form-container label {
  position: relative;
}

.contacts__form-container input {
  width: 100%;
  padding: 6px 0 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  outline: 0;
  transition: $trans-easeinout;
}

.contacts__form-container input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.contacts__form-span {
  position: absolute;
  top: 8px;
  left: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  transition: $trans-easeinout;
  opacity: 0;
}

.contacts__form-container input:active,
.contacts__form-container input:focus,
.contacts__form-container input:focus-within,
.contacts__form-container input:hover {
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
}

.contacts__form-container input:-webkit-autofill {
  -webkit-text-fill-color: $color-crimson;
}

.contacts__form-container input:focus + .contact__form-span,
.contacts__form-container input:focus-within + .contact__form-span,
.contacts__form-container input:not(:placeholder-shown) + .contact__form-span {
  font-size: 10px;
  opacity: 1;
  background: $red-to-blue;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(0, -15px);
}

.contacts__form-container .is-invalid {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: $color-default-white;
}

.contacts__form-button {
  width: 100%;
  justify-content: center;
  grid-column: 1/-1;
  padding: 17px 20px 17px;
  font-size: 14px;
  line-height: 16px;
}

.contacts__info-list {
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 4px 74px;
  margin-left: 4px;
}

.contacts__info-list::after {
  position: absolute;
  content: "";
  top: 19px;
  left: 50.5%;
  width: 1px;
  height: 73%;
  background-color: $color-light-slate-grey;
}

.contacts__info-item h4 {
  margin-top: 15px;
  margin-bottom: 3px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.contacts__info-item p,
.contacts__info-item address,
.contacts__info-item a {
  display: block;
  margin-top: 5px;
  width: fit-content;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: inherit;
  transition: $trans-easeinout;
}

.contacts__info-item a:hover,
.contacts__info-item a:focus,
.contacts__info-item a:active {
  color: $color-crimson;
  background: $red-to-blue-numb;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts__info-address address {
  display: block;
  margin-top: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: inherit;
}

.contacts__info-time {
  grid-row: 2;
}

@media (max-width: $vp-1199) {
  .contacts {
    grid-template-columns: 1fr;
  }

  .contacts__info {
    border: none;
  }

  .contacts__form-container,
  .contacts__info-container {
    margin: auto;
    padding: 27px 121px 71px 90px;
  }

  .contacts__info-container {
    padding-bottom: 44px;
  }

  .contacts__form-container h2 {
    margin-bottom: 29px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.02em;
  }

  .contacts__form-container form {
    gap: 31px 60px;
  }

  .contacts__form-button {
    padding: 17px 20px 16px;
  }

  .contacts__info-container h2 {
    margin-bottom: 17px;
    font-size: 42px;
    line-height: 50px;
  }

  .contacts__info-list {
    grid-template-columns: 1.53fr 1fr;
    margin-left: 0;
  }

  .contacts__info-list::after {
    top: 22px;
    left: 56.5%;
  }

  .contacts__info-item h4 {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts__info-item p,
  .contacts__info-item address,
  .contacts__info-item a {
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__info-item address {
    letter-spacing: 0;
  }
}

@media (max-width: $vp-767) {
  .contacts__form-container,
  .contacts__info-container {
    padding: 37px 15px 72px;
  }

  .contacts__info-container {
    padding-bottom: 61px;
  }

  .contacts__form-container h2 {
    margin-bottom: 31px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.03em;
  }

  .contacts__form-container form {
    grid-template-columns: 1fr;
    gap: 29px;
  }

  .contacts__form-button {
    margin-top: 11px;
  }

  .contacts__info-container h2 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .contacts__info-list {
    grid-template-columns: 1fr;
  }

  .contacts__info-list::after {
    display: none;
  }

  .contacts__info-item p {
    margin-bottom: 0;
  }
}
